@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin&family=Pacifico&family=Playfair+Display:wght@400;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    /* overflow-x: hidden; */
}

/* font-family: 'Pacifico', cursive; */

#headerText{
    font-size: 70px;
    /* border: 2px dashed red; */
    /* width: 50%; */
}
.header{
    position: absolute;
    top: 0%;
    right: 5%;
    height: 10vh;
    background-color: transparent;
    /* border: 2px dashed black; */
    display: flex;
    width: 40%;
    justify-content:space-between;
    align-items: center;
}
.header button{
    position: relative;
    height:8vh;
    font-family: cabin;
    color: #fff;
    background-color: transparent;
    transition:top 0.1s;
    border: none;
    cursor: pointer;
    top: 0;
}
.header button:hover{
    top: -2px;
}

.top-flex{
    /* border: 2px solid red; */
    /* height: 500px; */
    background-image: url("https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhY3R8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: calc(.5em + 8vw);
}
/* .top-flex div{
    border: 2px dashed black;
} */
.custom-shape-divider-bottom-1690483487 {
    position: relative;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1690483487 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: calc(1.2em + 8vw);
}
.custom-shape-divider-bottom-1690483487 .shape-fill {
    fill: #FFFFFF;
}

.carousel{
    width: 50%;
    height: 25vw;
    margin: auto;
    position: relative;
    /* border: 3px dashed blue; */
    overflow: hidden;
}
.slide{
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    transition: 1s;
}
.carousel_wrapper{
    /* border: 2px dashed green; */
    display: flex;
    justify-content:left;
    flex-direction: row;
    align-items: top;
    margin: 5%;
}
.nav{
    position: relative;
    /* border: 5px solid blue; */
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.nav button{
    color: #262626;
    border: none;
    position: relative;
    height: 100%;
    width: 48%;
    background-color: rgba(255, 255, 255, 0);
    /* border: 2px solid red; */
}
#carousel_text{
    font-family: 'Cabin', sans-serif; 
    font-size: 30px;
    color: #262626;
    font-weight: 600;
    /* border: 2px solid red; */
    width: 45%;
    text-align: right;
    transition: opacity 0.3s ease-in-out;
    font-size: calc(.5em + 3vw);
}

.howWeHelp{
   /* border: 2px solid blue; */
   /* padding: 2vw; */
   font-size: 22px;
   background-image: url("https://images.unsplash.com/photo-1614105365930-0dbf4d717865?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1063&q=80");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Cabin', sans-serif;
   color: white;
}
.howWeHelpBtn{
    /* border: 1px dashed black; */
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-color: rgba(16, 29, 183, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(.2em + 2vw);
    cursor: pointer;
    transition: 0.3s;
    padding: 4px;
}
.howWeHelpBtn:hover{
    background-color:  rgba(16, 29, 183, 0.7);
}
.howWeHelp section{
    /* border: 1px solid rgba(0,0,0,0.5); */
    background-color: rgba(0,0,0,0.5);
    padding: 2vw 10vw 6vw 5vw;
    display: flex;
    justify-content: space-between;
}
.howWeHelp #transpBg{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.howWeHelp #p1{
    background-color: rgba(0,0,0,0.5);
    padding: 2vh;
    color: transparent;
}
.howWeHelp h3{
    font-size: calc(.2em + 2vw);
}

.events{
    background-color:aliceblue;
    padding: 10vh;
    display: flex;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
}
.events div{
    /* border: 1px solid red; */
    width: 40%;
    padding: 0vw 4vw 0vw 0vw;
}
.events #sec1{
        text-align: right;
        width: 20%;
}

.about{
    /* border: 1px dashed black; */
    width: 50%;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    position: relative;
    left: 2%;
    text-align: justify;
}

#reviewWrapper{
    width: 100%;
    /* border: 1px dashed blue; */
    overflow: scroll;
    padding-bottom: 8vh;
    padding-top: 6vh;
}
#reviewWrapper::-webkit-scrollbar{
    display: none;
  }
.reviews{
    /* background-color: rgba(0,100,255,0.1); */
    /* border: 2px solid red; */
    width: 20%;
    /* padding: 2%; */
    height: 15vw;
    position: relative;
    font-family: 'Cabin', sans-serif;
    /* overflow: hidden; */
    left: 5%;
}
.review_sec{
    width:100%;
    height: 100%;
    /* border: 2px solid black; */
    /* padding: 2vh; */
    border-radius: 10px;
    box-shadow: 7px 7px 20px rgba(0,0,0,0.2);
    position: absolute;
    transition: 0.5s;
    padding: 5%;
}
#review_header{
    display: flex;
    align-items: center;
    font-size: 25px;
}
#review_comment{
    padding: 2vh;
    text-align:justify;
}
.review_sec img{
    width: 20%;
    border-radius: 50%;
}

.buttonRev{
    /* width: 99%; */
    /* border: 2px solid red; */
    padding: 2vh;
    display: flex;
    justify-content: center;
}
.buttonRev button{
    font-family: 'Cabin', sans-serif;
    padding: 2vh;
    border: none;
    border-radius: 8px;
    /* background-color: rgba(0,100,255,0.1); */
    cursor: pointer;
}

.people{
    /* border: 1px dashed black; */
    width: 100%;
    /* height: 40vh; */
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    position: relative;
    left: 0;
    text-align: justify;
    display: flex;
    margin-bottom: 2vw;
}
.people section::-webkit-scrollbar {
    width: 0 !important
}
.people section{
    width: 50%;
    max-height: 40vh;
    height: 100%;
    /* border: 2px solid blue; */
    overflow-y: scroll;
}
.people section p{
    display: flex;
    align-items: center;
}
.people div{
    width: 50%;
    height: auto;
    padding: 0;
    padding-right: 2%;
    overflow: scroll;
    /* border: 2px solid red; */
}
.people div::-webkit-scrollbar {
    width: 0 !important
}
.people section img{
    border-radius: 50%;
    width: 25%;
    max-width: 150px;
    margin: 2%;
}
footer{
    color: white;
    background-image: url("footerImg.png");
    background-size: cover;
    background-position: 10% 70%;
    height: 30vh;
    display: flex;
    padding-top: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}
footer div{
    /* border: 2px solid red; */
    margin: 10px;

}
footer img{ 
    width: 10vh;
}
footer button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
footer button img{
    height: 20px;
    width: 20px;
}
/** For mobile devices **/
@media (max-width: 767px) {
    #about_text{
        font-size: calc(.5em + 8vw);
        padding-top: 10%;
        padding-bottom: 15%;
    }
    /* carousel */
    .carousel_wrapper{
        flex-direction:column-reverse;
        justify-content:center;
        align-items: center;
    }
    .carousel{
        width: 85%;
        height: 50vw;
    }
    #carousel_text{
        width: 95%;
    }
    /* carousel end */
    .about{
        width: 90%;
        left: 5%;
        font-size: medium;
    }.people{
        width: 90%;
        left: 5%;
        font-size: medium;
    }
    .people section{
        display: flex;
    }
    .people section p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2%;
    }
    .people section p img{
        width: 40%;
        min-width: 100px;
    }
    #headerText{
        position: relative;
        top: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .reviews{
        width: 80%;
        height: 25vh;
    }
    .review_sec{
        width: 100%;
    }
    .events{
        display: flex;
        flex-direction: column;
    }
    .events #sec1{
        width: 60%;
        padding-bottom: 2vh;
        text-align: center;
    }
    .events #sec2{
        width: 60%;
        text-align: center;
    }
    .howWeHelp section{
        padding: 2vw 17vw 6vw 17vw;
    }
    .howWeHelp #p2{
        display: none;
    }
    .howWeHelp #p1{
        color: white;
    }
    .people{
        flex-direction: column;
        height: 40vh;
    }
    .people section{
        width: 100%;
        height: 50%;
    }
    .people div{
        width: 100%;
        height: 50%;
    }
    .reviews{
        margin-bottom: 7vh;
    }
    .buttonRev{
        display: none;
    }
    footer div{
        font-size: small;
    }   
    .header{
        width: 80%;
        right: 10%;
    }
    footer img{
        height: auto;
        width: 30px;
    }
    footer{
        height: 50%;
    }
}
