@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cabin&family=Pacifico&family=Playfair+Display:wght@400;800&family=REM:wght@900&family=Raleway:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    /* border: 1px dashed red; */
}
body{
    /* width: 100vw; */
    overflow-x: hidden;
}

.header{
    position: absolute;
    top: 0%;
    right: 5%;
    height: 10vh;
    background-color: transparent;
    /* border: 2px dashed black; */
    display: flex;
    width: 40%;
    justify-content:space-between;
    align-items: center;
    
}
.header button{
    position: relative;
    height:8vh;
    font-family: cabin;
    color: #fff;
    background-color: transparent;
    transition:top 0.1s;
    border: none;
    cursor: pointer;
    top: 0;
    text-transform: uppercase;
}
.header button:hover{
    top: -2px;
}

.top-flex{
    /* border: 2px solid red; */
    /* height: 500px; */
    background-image: url("home_background.jpg");
    background-size: cover;
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(14, 24, 119));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* .top-flex div{
    border: 2px dashed black;
} */

.welcome{
    width: 50%;
    padding: 10%;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#about_text{
    /* border: 2px solid red; */
    height: 8vw;
    color: white;
    font-family: 'Borel', cursive;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Raleway', sans-serif;
    font-size: calc(.2em + 5vw);
    /* padding: 5%; */
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    text-align: right;
    position: relative;
    right: -25%;
    /* text-shadow: 3px 3px 10px rgba(100, 197, 197, 0.7); */
}
#about_text p{
    position: relative;
    font-size: calc(.2em + 1vw);
    font-family: 'Cabin', sans-serif;
    top: 0vw;
    right: 1vw;
}
#cursor {
    position: absolute;
    font-size: calc(.2em + 1vw);
    /* animation: blink 0.8s infinite; */
    /* top: -2.6vw; */
    right: 0;
    top: 59%;
}

.custom-shape-divider-bottom-1690483487 {
    position: relative;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1690483487 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: calc(1.2em + 14vw);
}
.custom-shape-divider-bottom-1690483487 .shape-fill {
    fill: white;
}

.carousel{
    width: 50%;
    height: 25vw;
    margin: auto;
    position: relative;
    /* border: 3px dashed blue; */
    overflow: hidden;
}
.slide{
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    transition: 1s;
}
.carousel_wrapper{
    /* border: 2px dashed green; */
    display: flex;
    justify-content:left;
    flex-direction: row;
    align-items: top;
    margin: 5%;
}
.nav{
    position: relative;
    /* border: 5px solid blue; */
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.nav button{
    color: #262626;
    border: none;
    position: relative;
    height: 100%;
    width: 48%;
    background-color: rgba(255, 255, 255, 0);
    /* border: 2px solid red; */
}
#carousel_text{
    font-family: 'Cabin', sans-serif; 
    color: #262626;
    font-weight: 600;
    /* border: 2px solid red; */
    width: 45%;
    text-align: right;
    transition: opacity 0.3s ease-in-out;
    font-size: calc(.5em + 2vw);
}

.howWeHelp{
   /* border: 2px solid blue; */
   /* padding: 2vw; */
   font-size: 22px;
   background-image: url("https://images.unsplash.com/photo-1614105365930-0dbf4d717865?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1063&q=80");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Cabin', sans-serif;
   color: white;
}
.howWeHelpBtn{
    /* border: 1px dashed black; */
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background-color: rgba(16, 29, 183, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(.2em + 1.5vw);
    cursor: pointer;
    transition: 0.3s;
    padding: 4px;
}
.howWeHelpBtn:hover{
    background-color:  rgba(16, 29, 183, 0.7);
}
.howWeHelp section{
    /* border: 1px solid rgba(0,0,0,0.5); */
    background-color: rgba(0,0,0,0.5);
    padding: 2vw 10vw 6vw 5vw;
    display: flex;
    justify-content: space-between;
}
.howWeHelp #transpBg{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.howWeHelp #p1{
    background-color: rgba(0,0,0,0.5);
    padding: 2vh;
    color: transparent;
}
.howWeHelp h3{
    font-size: calc(.2em + 2vw);
}

.events{
    background-color:aliceblue;
    padding: 10vh;
    display: flex;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
}
.events div{
    /* border: 1px solid red; */
    width: 40%;
    padding: 0vw 4vw 0vw 0vw;
}
.events #sec1{
    text-align: right;
    width: 20%;
}

.about{
    /* border: 1px dashed black; */
    width: 50%;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    position: relative;
    left: 2%;
    text-align: justify;
}
/* --------------------------------- */

.people{
    width: 100%;
    position: relative;
    /* border: 2px solid #000; */
    /* overflow-x: scroll; */
    padding-bottom: 25px;
}
.people section{
    /* border: 2px dashed blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.people .member{
    position: relative;
    width: 15%;
    /* border: 2px solid red; */
    background-color: #262626;
    background-image: linear-gradient(90deg, rgb(5, 0, 44), rgb(12, 18, 67));
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}
.people .member img{
    width: 100%;
    height: 80%;
}
.people .description{
    color: white;
    background-color: rgba(0,0,0,0.7);
    width: 90%;
    height: 0;
    position: absolute;
    overflow: hidden;
    font-size: small;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s ease-in-out;
}
.member:hover > .description{
    height: 80%;
}

.people .text{
    color: #fff;
    padding: 5%;
    font-size: small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#people-text{
    width: 50%;
    /* border: 2px solid blue; */
    position: relative;
    left: 25%;
    padding-top: 3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

/* ------------------------------------ */
#reviewWrapper{
    width: 100%;
    /* border: 1px dashed blue; */
    overflow: scroll;
    padding-bottom: 8vh;
    padding-top: 6vh;
}
#reviewWrapper::-webkit-scrollbar{
    display: none;
}
.reviews{
    /* background-color: rgba(0,100,255,0.1); */
    /* border: 2px solid red; */
    width: 20%;
    /* padding: 2%; */
    height: 15vw;
    position: relative;
    font-family: 'Cabin', sans-serif;
    /* overflow: hidden; */
    left: 5%;
}
.review_sec{
    width:100%;
    height: 100%;
    /* border: 2px solid black; */
    /* padding: 2vh; */
    border-radius: 10px;
    box-shadow: 7px 7px 20px rgba(0,0,0,0.2);
    position: absolute;
    transition: 0.5s;
    padding: 5%;
}
#review_header{
    display: flex;
    align-items: center;
    font-size: 25px;
}
#review_comment{
    padding: 2vh;
    text-align:justify;
}
.review_sec img{
    width: 20%;
    border-radius: 50%;
}

.buttonRev{
    /* width: 99%; */
    /* border: 2px solid red; */
    padding: 2vh;
    display: flex;
    justify-content: center;
}
.buttonRev button{
    font-family: 'Cabin', sans-serif;
    padding: 2vh;
    border: none;
    border-radius: 8px;
    /* background-color: rgba(0,100,255,0.1); */
    cursor: pointer;
}

footer{
    color: white;
    background-image: url("footerImg2.jpg");
    /* background-image: url("https://images.wallpapersden.com/image/download/minimalistic-dark-hills-blue_bWltamuUmZqaraWkpJRobWllrWdma2U.jpg"); */
    background-size: cover;
    background-position: 10% 70%;
    height: 30vh;
    display: flex;
    padding-top: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}
footer div{
    /* border: 2px solid red; */
    margin: 10px;
    color: white;
    text-shadow: 0px 0px 25px black;
}
footer img{ 
    width: 10vh;
}
footer button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
footer button img{
    height: 20px;
    width: 20px;
}
/** For mobile devices **/
@media (max-width: 767px) {
    .welcome{
        width: 80%;
        text-align: justify;
        font-size: medium;
    }
    #about_text{
        font-size: calc(.5em + 8vw);
        padding-top: 10%;
        padding-bottom: 15%;
        right: 0%;
        /* background-color: rgba(0,0,0,0.5); */
        width: 100%;
        /* height: 100%; */
        /* box-shadow: 0px 0px 50px rgba(0,0,0,1); */
        align-items: center;
        /* text-shadow: 10px 10px 20px black; */
    }
    #cursor{
        display: none;
    }
    /* carousel */
    .carousel_wrapper{
        flex-direction:column-reverse;
        justify-content:center;
        align-items: center;
    }
    .carousel{
        width: 85%;
        height: 50vw;
    }
    #carousel_text{
        width: 85%;
    }
    /* carousel end */
    .about{
        width: 90%;
        left: 5%;
        font-size: medium;
    }
    #headerText{
        position: relative;
        top: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .people{
        width: 100%;
        overflow: scroll;
        padding-bottom: 5%;
    }
    .people section{
        width: 280%;
        justify-content:space-around;
    }
    .people .member{
        width: 18%;
        /* border: 2px solid red; */
    }
    #people-text{
        width: 80%;
        left: 10%;
    }

    .reviews{
        width: 80%;
        height: 25vh;
    }
    .review_sec{
        width: 100%;
    }
    .events{
        display: flex;
        flex-direction: column;
    }
    .events #sec1{
        width: 60%;
        padding-bottom: 2vh;
        text-align: center;
    }
    .events #sec2{
        width: 60%;
        text-align: center;
    }
    .howWeHelp section{
        padding: 2vw 17vw 6vw 17vw;
    }
    .howWeHelp #p2{
        display: none;
    }
    .howWeHelp #p1{
        color: white;
    }
    .reviews{
        margin-bottom: 7vh;
    }
    .buttonRev{
        display: none;
    }
    footer div{
        font-size: small;
    }   
    .header{
        width: 80%;
        right: 10%;
    }
    footer img{
        height: auto;
        width: 30px;
    }
    footer{
        height: 50%;
    }
}
